*.class
*.iml
*.idea
.settings
.project
*.sass-cache
target
.java-version
*.releaseBackup
release.properties

# Package Files #
*.jar
*.war
*.ear
*.iml

.settings/*
api/.classpath
api/.project
api/.settings/*
api/target/*
omod/.classpath
omod/.project
omod/.settings/*
omod/target/*
/.settings

/.metadata/
